@import '../../../scss/mixins/breakpoints';
@import '../../../scss/functions';
@import '../../../scss/variables';

// Desktop First Approach

.main{
    background-color: $cardBg;
    padding: 25px;
    min-height: 400px;
    box-shadow: 0 2rem 4rem -2rem $black;
    -webkit-box-shadow: 0 2rem 4rem -2rem $black;
    -moz-box-shadow: 0 2rem 4rem -2rem $black;
    border-radius: 8px;
    cursor: pointer;
}

@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}
@include media-breakpoint-down(xxl) {

}