@import '../../../scss/mixins/breakpoints';
@import '../../../scss/functions';
@import '../../../scss/variables';

// Desktop First Approach

.main{
    min-height: 100vh;
    padding: 25px 0 50px;
    margin-top: 55px;
    position: relative;
    .serviceCard{
        margin-bottom: 15px;
    }

}


@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}
@include media-breakpoint-down(xxl) {

}