@import '../../../scss/mixins/breakpoints';
@import '../../../scss/functions';
@import '../../../scss/variables';

// Desktop First Approach

.row{
    justify-content: space-between;
    .leftPanel{
        padding-left: 0;
        max-width: 280px;
    }
    .rightPanel{
        padding-right: 0;
        max-width: 300px;
    }
}

@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}
@include media-breakpoint-down(xxl) {

}